.staff-frame{
  background-color: rgb(150,200,100);
  color: rgb(30,10,5);
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  width: 310px;
  display: inline-block;
  vertical-align: top;
  height: 605px;
}

.reverend-sean{
  border: 5px solid rgb(30,10,5);
  display: inline-block;
  width: 300px;
}

.lenny{
  border: 5px solid rgb(30,10,5);
  display: inline-block;
  width: 300px;
}

.kerry{
  border: 5px solid rgb(30,10,5);
  display: inline-block;
  width: 300px;
}


@media screen and (max-width: 940px) {
  .staff-frame{
    height: auto;
  }
}